*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    text-align: center;
    color: violet;
    font-size: 50px;
}

.introduction{
    text-align: center;
    width: 30vw;
    margin-left:35%;
}

section{
    background-color: rgb(0, 255, 242);
    margin-left: 20%;
    height: 35%;
    margin-bottom: 20%;
}

section *{
    background-color:rgb(0, 255, 242) ;
}

.profilo{
    float: left;
}

.profilo::after{
    content: "";
    display: block;
    clear: both;

}


.profilo>*{
    float: left;
}

.profilo::after{
    content: "";
    display: block;
    clear: both;
}

.profilo *::after{
    content: "";
    display: block;
    clear: left; 

}

.testo{
    padding: 30px;
}

.testo>p{
    padding-top:30px;
}