*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    text-align: center;
    color: violet;
    font-size: 50px;
}

.introduction{
    text-align: center;
    width: 30vw;
    margin-left:35%;
}