*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    text-align: center;
    color: violet;
    font-size: 50px;
}

.introduction{
    text-align: center;
    width: 30vw;
    margin-left:35%;
}

.righe{
    width: 80%;
    margin: 0 auto;
    height: 200px;
}

section{
    height: 200px;
    margin: 0 auto;
    margin-bottom:5%;
    margin-top: 40px;
    padding-left: 10px;

}

section *{
    background-color:black ;
    color: white;
}

.profilo{
    float: left;
    margin-left: 20px;
    width: calc(100% / 3 - 20px);
}

.profilo::after{
    content: "";
    display: block;
    clear: both;

}


.profilo>*{
    float: left;
}

.profilo::after{
    content: "";
    display: block;
    clear: both;
}

.profilo *::after{
    content: "";
    display: block;
    clear: left; 

}

.testo{
    padding: 30px;
}

.testo>p{
    padding-top:30px;
}

p:nth-child(3){
    color: blue;
}